@use '../../Global.scss';

.card{
    @media (min-width: 767px){
        width: 21vw;
        height: 35vh;
        display: grid;
        background-size: cover;
        box-shadow: 0.5vh 0.5vw 3vh #070707;
        margin:1.5vh;
        grid-template-rows: 75% 10% 15%;
        grid-template-areas: 
            "card-body"
            "card-title"
            "card-tags";
    }
    @media (max-width: 767px){
        display: flex;
        flex-direction: row;
        margin:1vh;
    }
    background-color: Global.$background-section;
    overflow: hidden;
    border-radius: 0 0 5% 5%;
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
        &:hover{
            box-shadow: Global.$box-shadow-hover;
        }
        box-shadow: Global.$box-shadow-section;
    }
    &__selected{
        @extend .card;
        transform: scale(1.05);
        outline: 1px solid black;
        box-shadow: Global.$box-shadow-hover;
    }
    .card-body{
        @extend .mobile-hidden;
        grid-area: card-body;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        .card-title{
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
            opacity: 0;
            background-color: Global.$dark-blue;
            &__selected{
                @extend .card-title;
                opacity: 0.8;
            }
        }
    }
    .card-title {
        border-top: solid Global.$dark-pink 0.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-tags{
        @extend .mobile-hidden;
        @media (min-width: 767px){
            display: flex;
            flex-wrap: wrap;
        }
        grid-area: card-tags;
        flex-direction: row;
        padding-left: 0.3vw;
        align-items:center;
    }
}
