@use '../../Global.scss';

.grid-container__contact {
    @extend .mobile-flex-direction;
    display: flex;
    justify-content: space-evenly;
    margin: 2vh;
    .left-container{
        @media (min-width: 767px){
            max-width: 60vw;
            height: 60vh;
        }
        background-color: Global.$background-section;
        display: flex;
        flex-direction: column;
        box-shadow: Global.$box-shadow-section;
        justify-content: center;
        transition: all 1s;
        p{
            padding: 0 8vw;
            text-align: left;
        }
        a {
            @extend .a-template;
        }
        &:hover{
            @extend .hover-section;
        }
    }
    .right-container{
        @media (min-width: 767px){
            width: 25vw;
            height: 60vh;
        }
        width: 100%;
        background-color: Global.$background-section;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        box-shadow: Global.$box-shadow-section;
        transition: all 1s;
        h1 {
            color: Global.$light-blue;
        }
        .email-form{
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            label{
                font-size: medium;
            }
            .email-form-item {
                display: grid;
                grid-template-columns: 25% 80%;
                grid-template-areas: auto;
                padding: 1vh;
                label {
                    text-align: left;
                    margin-left: 10%;
                }
                input {
                    width:80%;
                    &:focus{
                        outline-color: white;
                    }
                }
            }
            .body {
                @extend .email-form-item;
                textarea {
                    width: 80%;
                    height: 23vh;
                    resize: none;
                    padding: 1%;
                    &:focus{
                        outline-color: white;
                    }
                }
            }
            .submit {
                display: flex;
                justify-content:flex-end;
                .button{
                    @extend .button-template;
                    font-size: medium;
                    padding: .5vw;
                    margin: 0.3vw;
                    margin-right: 11%;
                }
            }
        }
        &:hover{
            @extend .hover-section;
        }
    }
}