.grid-container__about {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "left-container right-container";
    .left-container {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
            "header"
            "experience";
        border-left-style: none !important;
        border-style: solid;
        border-color: black;
        border-radius: 0 10% 10% 0;
        border-width: 0.3vw;
        height: 100vh;
        .header {
            grid-area: header;
            height: 100%;
            p{
                font-size: x-large;
                text-align: left;
                margin: 0 7vw;
            }
        }
        .experience {
            grid-area: experience;
            padding: 0 1vh;
            .experience-item {
                justify-content: center;
                display: flex;
                flex-direction: row;
                .date {
                    height: max-content;
                    width: 100%;
                    font-size: medium;
                    text-align: right;
                    padding: 1vh 1vw 0 7vw;
                }
                .content {
                    height: max-content;
                    padding-left: 1vw;
                    padding-right: 5vw;
                    font-size: large;
                    text-align: left;
                    border-left: white solid;
                }
            }
        }
    }
    .right-container {
        display: grid;
        grid-template-rows: 20% 15% 15% 15% 15%;
        grid-template-areas: 
            "skills"
            "languages"
            "frameworks"
            "technologies"
            "certifications";
            border-style: solid solid solid none;
            border-width: 0.3vw;
            border-color: black;
            border-radius: 20% 0 0 20%;
        .skills {
            grid-area: skills;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .languages {
            grid-area: languages;
            text-align: left;
            padding-left: 10vw;
            h5{
                margin-bottom: 1vh;
            }
        }
        .frameworks {
            grid-area: frameworks;
            text-align: left;
            padding-left: 10vw;
            h5{
                margin-bottom: 1vh;
            }
        }
        .technologies {
            grid-area: technologies;
            text-align: left;
            padding-left: 10vw;
            h5{
                margin-bottom: 1vh;
            }
        }
        .certifications {
            grid-area: certifications;
            text-align: left;
            padding-left: 10vw;
            h5{
                margin-bottom: 1vh;
            }
        }
        
    }
}