.card{
    margin:1vh;
    display: grid;
    background-color: black;
    background-size: cover;
    grid-template-rows: 75% 10% 15%;
    grid-template-areas: 
        "card-body"
        "card-title"
        "card-tags";
    overflow: hidden;
    width: 21vw;
    height: 35vh;
    border-radius: 0 0 5% 5%;
    box-shadow: 0.5vh 0.5vw 1vh rgba(0, 0, 0, 0.454);
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0.5vh 0.5vw 1.5vh rgba(0, 0, 0, 0.454);
    }
    &__selected{
        @extend .card;
        transform: scale(1.05);
        outline: 1px solid black;
        box-shadow: 0.5vh 0.5vw 1.5vh rgba(0, 0, 0, 0.454);
    }
    .card-body{
        grid-area: card-body;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        .card-title{
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
            opacity: 0;
            background-color: #00214A;
            &__selected{
                @extend .card-title;
                opacity: 0.8;
            }
        }
    }
    .card-title {
        border-top: solid #EA25B5 0.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1%;
    }
    .card-tags{
        grid-area: card-tags;
        display: flex;
        flex-direction: row;
        padding-left: 0.3vw;
        align-items:center;
    }

}