.grid-container__contact {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "left-container right-container";
    .left-container{
        grid-area: left-container;
        display: flex;
        flex-direction: column;
        p{
            padding: 10vw 10vw 0 10vw;
        }
        .icons{

        }
    }
    .right-container{
        grid-area: right-container;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 25vw;
        height: 60vh;
        border: solid black 0.3vw;
        border-radius: 15%;
        .email-form{
            label{
                font-size: large;
            }
            .top-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .name {
                    display: flex;
                    flex-direction: row;
                    label {
                        margin-left:8%
                    }
                    input {
                        width:60%;
                        margin-left: 4%;
                    }
                }
                .email {
                    display: flex;
                    flex-direction: row;
                    label {
                        margin-left:4%
                    }
                    input {
                        width:60%;
                        margin-left: 2%;
                    }
                }
            }
            .subject {
                display: flex;
                flex-direction: row;
                margin-top: 5%;
                label {
                    align-self: first;
                    margin: 0 2% 0 5%;
                }
                input {
                    width: 29%;
                }
            }
            .body {
                display: flex;
                flex-direction: row;
                margin-top: 5%;
                label {
                    align-self: first;
                    margin: 0 5%;
                }
                textarea {
                    width: 50%;
                    height: 20vh;
                    align-self: center;
                }
            }
        }
    }
}