.grid-container__projects {
    height: 90vh;
    display: grid;
    margin: 2vh;
    grid-template-columns: 70% 30%;
    grid-template-areas:
    "left-container right-container";
    .left-container {
        border: solid black 0.3vw;
        display: grid;
        grid-area: left-container;
        grid-template-rows: 10% 90%;
        border-radius: 0 2% 2% 0;
        align-items: center;
        grid-template-areas: 
            "header"
            "items";
        box-shadow: 0.5vh 0.5vw 1vh rgba(0, 0, 0, 0.454);
        .header{
            grid-area: header;
            margin: 1vh;
        }
        .items{
            width: 100%;
            grid-area: items;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .right-container {
        grid-area: right-container;
        margin-left: 2vh;
        display: grid;
        padding: 1vh;
        border: solid black 0.3vw;
        border-left-style: none;
        border-radius: 5% 0 0 5%;
        overflow: hidden;
        grid-template-rows: 50% 10% 40%;
        grid-template-areas: 
            "image"
            "title"
            "content";
        box-shadow: 0.5vh 0.5vw 1vh rgba(0, 0, 0, 0.454);
        .image{
            grid-area: image;
            align-self: center;
            width: 100%;
        }
        .title {
            grid-area: title;
            padding-left: 5%;
            align-self: center;
        }
        .content {
            grid-area: content;
            font-size: x-large;
            .button{
                font-size: large;
                padding: 1vw;
                margin: 0.3vw;
                border-radius: 10%;
                border-style: solid;
                color: white;
                background-color: rgb(0, 146, 146);
                &:hover{
                    background-color: burlywood;
                    transform: scale(1.05);
                }
            }
        }
    }
}