.tag {
    height: max-content;
    width: max-content;
    background-color: #555555;
    color: white;
    border-radius: 10px;
    border: solid black 0.1px;
    padding: 0.3vh 0.3vw;
    margin: 0.2vh;
    font-size: medium;
    text-align: center;
}