.tag {
    height: max-content;
    width: max-content;
    background-color: #555555;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.2vh 0.2vw;
    margin: 0.2vh;
    font-size: medium;
    text-align: center;
    justify-content: center;
}