.App{
  text-align: center;
  background-image: radial-gradient( ellipse farthest-corner at bottom right,  rgb(40, 108, 142) 0.3%, rgb(20, 24, 34) 90.2% );
  overflow-x: hidden;
}

.item{
  max-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  scroll-padding: 0;
  padding-bottom: 10vh;
  &__header{
    @extend .item;
    div{
      height: 100vh;
      margin: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: calc(10px + 5vmin);
      border: #000000 solid 0.3vw;
      border-radius: 2%;
      box-shadow: 0.5vh 0.5vw 1vh rgba(0, 0, 0, 0.454);
    }
  }
  &__about{
    @extend .item;
    scroll-snap-align: start;
  }
  &__projects{
    @extend .item;
  }
  &__experience{
    @extend .item;
  }
  &__contact{
    @extend .item;
    justify-content: center;
  }
}

.footer{
  color: #ffffff;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 0 2%;
  .info{
    text-align: left;
    border-left: solid white 0.5vh;
    padding: 0.5%;
    a{
      color: rgb(47, 116, 200);
      font-weight: bold;
      text-decoration: none;
    }
  }
  .copy{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5%;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100vh);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter:blur(0);
  transform: translateX(0vh);
  transition: all 1s;
}