@use './Global.scss';

.App{
  text-align: center;
  background: radial-gradient(circle at 50% 30%, rgb(0, 0, 0) 0%, rgb(18, 18, 18) 90.2%);
  overflow-x: hidden;
  color: #ffffff;
}

.item{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  scroll-padding: 0;
  padding-bottom: 10vh;
  justify-content: center;
  &__header{
    @extend .item;
    .header{
      @media (max-width:767px){
        flex-direction: column-reverse;
        justify-content:space-evenly;
      }
      @media (min-width:767px){
        justify-content: space-around;
      }
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: calc(10px + 5vmin);
      p{
        color: #04BBEC;
        margin-left: 1vw;
      }
      .profile-picture {
        align-items: center;
        img {
          height: 100%;
          max-height: 40vh;
          border-radius: 50%;
          box-shadow: 0vh 0vw 2vh #0D3F7C;
          border: solid #04BBEC;
        }
      }
    }
  }
}

.footer{
  @extend .mobile-flex-direction;
  display: flex;
  position: relative;
  padding: 0 2%;
  .info{
    text-align: left;
    border-left: solid Global.$dark-pink 0.5vh;
    padding: 1%;
    a{
      @extend .a-template;
      font-weight: bold;
    }
  }
  @media (min-width: 767px) {
    .copy{
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 5%;
    }
  }
}