@use '../../Global.scss';

.grid-container__about {
    @extend .mobile-flex-direction;
    display: flex;
    justify-self: center;
    align-items: center;
    @media (min-width:767px) {
        max-height: 95vh;
    }
    margin: 2vh;
    .left-container {
        display: flex;
        flex-direction: column;
        box-shadow: Global.$box-shadow-section;
        background-color: Global.$background-section;
        border-radius: 5%;
        transition: all 1s;
        overflow-y: hidden;
        &:hover{
            @extend .hover-section;
        }
        .header {
            p{
                font-size: medium;
                text-align: left;
                margin: 0vh 6vw;
            }
        }
        .experience {
            padding-bottom: 2vmin;
            max-height: 50vh;
            overflow-y: auto;
            .experience-item {
                display: flex;
                flex-direction: row;
                .date {
                    height: max-content;
                    width: 65%;
                    font-size: medium;
                    text-align: right;
                    padding: 1vmin;
                }
                .content {
                    height: max-content;
                    width: 100%;
                    padding-left: 1vw;
                    padding-right: 2vw;
                    font-size: medium;
                    text-align: left;
                    border-left: Global.$dark-pink solid;
                }
            }
        }
    }
    .right-container {
        @media (min-width:767px) {
            margin: 2vh;
        }
        display: flex;
        flex-direction: column;
        box-shadow: Global.$box-shadow-section;
        background-color: Global.$background-section;
        border-radius: 5%;
        padding: 7vmin;
        transition: all 1s;
        justify-content: center;
        &:hover{
            @extend .hover-section;
        }
        .skills-section {
            text-align: left;
            h5{
                margin-top: 2vmin;
                margin-bottom: 0.5vmin;
            }
        }
        .certifications {
            grid-area: certifications;
            @extend .skills-section;
            .cert-badges {
                display: flex;
                flex-direction: row;
                @media (min-width: 767px) {
                    img {
                        max-width: 8vw;
                    }
                }
                @media (max-width: 767px) {
                    flex-wrap: wrap;
                    img {
                        max-width: 25vw;
                        padding: 1vh;
                    }
                }
            }
        }
    }
}
h2 {
    color: Global.$light-blue;
    margin-bottom: 1vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: Global.$dark-pink; 
}

::-webkit-scrollbar-thumb:hover {
    background: Global.$light-blue;
}